BOT_TOKEN=8752928016:AAFaVpecO0TVpbW_WII6MhTbxaPdadKeHoE
ADMIN_IDS=6304459652
GRIZZLY_API_KEY=8a81ece38cae3f8e2b83a9a91d0d1ced
HERO_API_KEY=ed87c6502c3d151ddB02173ffc42c515
HERO_SMS_API_KEY=ed87c6502c3d151ddB02173ffc42c515
HERO_BASE_URL=https://hero-sms.com/stubs/handler_api.php
SMM_API_URL=https://justanotherpanel.com/api/v2
SMM_API_KEY=91f554b29a50f4c96274a50da886c742
# Optional: add fallback SMM endpoints separated by comma
# Example:
# SMM_API_URL=https://justanotherpanel.com/api/v2,https://backup-panel.com/api/v2
SMM_PROXY_URL=

LOG_CHANNEL_ID=-1000000000000
ACTIVATIONS_CHANNEL_ID=-1003311851705
